# Default owners
* @Azure/alz-terraform-admins
# Require admin approval for the following files:
.github/CODEOWNERS @Azure/alz-terraform-admins
.github/workflows/ @Azure/alz-terraform-admins
Makefile @Azure/alz-terraform-admins
